.header {
  background-color: silver;

    a {
      margin: 0.313rem;
    }

  &__wrapper {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }
}

.weatherCard {
  width: 18rem;
  margin: 1.25rem auto;
}

.addChildForm {
  button {
    display: flex;
    margin-left: auto;
  }
}